doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |       
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |       
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |       
    title Bootstrap CRUD Data Table for Database with Modal Form
    |       
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
    |       
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    |       
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    |       
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    |       
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    |       
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    |       
    style(type='text/css').
      body {
      color: #566787;
      background: #f5f5f5;
      font-family: 'Varela Round', sans-serif;
      font-size: 13px;
      }
      .table-wrapper {
      background: #fff;
      padding: 20px 25px;
      margin: 30px 0;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
      }
      .table-title {
      padding-bottom: 15px;
      background: #435d7d;
      color: #fff;
      padding: 16px 30px;
      margin: -20px -25px 10px;
      border-radius: 3px 3px 0 0;
      }
      .table-title h2 {
      margin: 5px 0 0;
      font-size: 24px;
      }
      .table-title .btn-group {
      float: right;
      }
      .table-title .btn {
      color: #fff;
      float: right;
      font-size: 13px;
      border: none;
      min-width: 50px;
      border-radius: 2px;
      border: none;
      outline: none !important;
      margin-left: 10px;
      }
      .table-title .btn i {
      float: left;
      font-size: 21px;
      margin-right: 5px;
      }
      .table-title .btn span {
      float: left;
      margin-top: 2px;
      }
      table.table tr th, table.table tr td {
      border-color: #e9e9e9;
      padding: 12px 15px;
      vertical-align: middle;
      }
      table.table tr th:first-child {
      width: 60px;
      }
      table.table tr th:last-child {
      width: 100px;
      }
      table.table-striped tbody tr:nth-of-type(odd) {
      background-color: #fcfcfc;
      }
      table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
      }
      table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
      }
      table.table td:last-child i {
      opacity: 0.9;
      font-size: 22px;
      margin: 0 5px;
      }
      table.table td a {
      font-weight: bold;
      color: #566787;
      display: inline-block;
      text-decoration: none;
      outline: none !important;
      }
      table.table td a:hover {
      color: #2196F3;
      }
      table.table td a.edit {
      color: #FFC107;
      }
      table.table td a.delete {
      color: #F44336;
      }
      table.table td i {
      font-size: 19px;
      }
      table.table .avatar {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
      }
      .hint-text {
      float: left;
      margin-top: 10px;
      font-size: 13px;
      }
      /* Modal styles */
      .modal .modal-dialog {
      max-width: 400px;
      }
      .modal .modal-header, .modal .modal-body, .modal .modal-footer {
      padding: 20px 30px;
      }
      .modal .modal-content {
      border-radius: 3px;
      }
      .modal .modal-footer {
      background: #ecf0f1;
      border-radius: 0 0 3px 3px;
      }
      .modal .modal-title {
      display: inline-block;
      }
      .modal .form-control {
      border-radius: 2px;
      box-shadow: none;
      border-color: #dddddd;
      }
      .modal textarea.form-control {
      resize: vertical;
      }
      .modal .btn {
      border-radius: 2px;
      min-width: 100px;
      }
      .modal form label {
      font-weight: normal;
      }
    |       
    script(type='text/javascript').
      $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();
      // Select/Deselect checkboxes
      var checkbox = $('table tbody input[type="checkbox"]');
      $("#selectAll").click(function(){
      if(this.checked){
      checkbox.each(function(){
      this.checked = true;
      });
      } else{
      checkbox.each(function(){
      this.checked = false;
      });
      }
      });
      checkbox.click(function(){
      if(!this.checked){
      $("#selectAll").prop("checked", false);
      }
      });
      });
  |    
  body
    .container
      .table-wrapper
        .table-title
          .row
            .col-sm-6
              h2
                | Administrar 
                b Clientes
            |                   
            .col-sm-6
              a.btn.btn-success(href='#addEmployeeModal', data-toggle='modal')
                i.material-icons &#xE147;
                span Add New Employee
        |             
        table.table.table-striped.table-bordered.table-hover.table-responsive(style='overflow:auto')
          thead
            tr
              th #
              |                      
              th Usuario
              |                      
              th Nombre
              |                      
              th Apellido
              |                      
              th Correo
              |                      
              th Telefono
          |                
          tbody
            tr             
                -var number = 0;
                each lista in modelo
                  td #{number+1} 
                  td #{lista.username}
                  td #{lista.nombre}
                  td #{lista.apellido}
                  td #{lista.correo}
                  td #{lista.telefono}
                    a.edit(href='#editEmployeeModal', data-toggle='modal')
                      i.material-icons(data-toggle='tooltip', title='Edit') 
                    a.delete(href='#deleteEmployeeModal', data-toggle='modal')
                      i.material-icons(data-toggle='tooltip', title='Delete')  
    // Edit Modal HTML
    #addEmployeeModal.modal.fade
      .modal-dialog
        .modal-content
          form(action='/insertar', method='POST')
            .modal-header
              h4.modal-title Agregar Cliente
              |                      
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            |                   
            .modal-body
              .form-group
                label Nombre Usuario
                |                         
                input#username.form-control(type='text', required='', name='username')
              |                      
              .form-group
                label Nombre
                |                         
                input#nombre.form-control(type='text', required='', name='nombre')
              |                      
              .form-group
                label Apellido 
                |                         
                input#apellido.form-control(type='text', required='', name='apellido')
              |                      
              .form-group
                label Correo
                |                         
                input#correo.form-control(type='email', required='', name='correo')
                |                         
                .form-group
                |                         
                label Telefono 
                |                         
                input#telefono.form-control(type='number', required='', name='telefono')
                |                         
                .form-group
                |                         
                label Contrase&ntilde;a 
                |                         
                input#password.form-control(type='password', required='', name='password')
                |                         
                .form-group
                |                         
                label Confirmar Contrase&ntilde;a 
                |                         
                input#passConfirm.form-control(type='password', required='', name='passConfirm')
            |                   
            .modal-footer
              input.btn.btn-default(type='button', data-dismiss='modal', value='Cancel')
              |                      
              input.btn.btn-success(type='submit', value='Agregar')
    // Edit Modal HTML
    #editEmployeeModal.modal.fade
      .modal-dialog
        .modal-content
          form(action='/actualizar', method='POST')
            .modal-header
              h4.modal-title Editar Cliente
              |                      
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            |                   
            .modal-body
              .form-group
                label Nombre Usuario
                |                         
                input#username.form-control(type='text', required='')
              |                      
              .form-group
                label Nombre
                |                         
                input#nombre.form-control(type='text', required='')
              |                      
              .form-group
                label Apellido
                |                         
                input#apellido.form-control(type='text', required='')
              |                      
              .form-group
                label Correo
                |                         
                input#correo.form-control(type='email', required='')
              |                      
              .form-group
                label Telefono
                |                         
                input#telefono.form-control(type='number', required='')
            |                   
            .modal-footer
              input.btn.btn-default(type='button', data-dismiss='modal', value='Cancel')
              |                      
              input.btn.btn-info(type='submit', value='Actualizar')
    // Delete Modal HTML
    #deleteEmployeeModal.modal.fade
      .modal-dialog
        .modal-content
          form(action='/eliminar', method='POST')
            .modal-header
              h4.modal-title Borra Cliente
              |                      
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            |                   
            .modal-body                      
              .form-group

                label Username
                |                         
                input.form-control(type='text', value=modelo.username, name='username', required='')
                |
                p &iquest;Seguro que quieres eliminar este registros?
                |                      
                p.text-warning
                  small Esta acci&oacute;n no se puede deshacer.
                |
            |                   
            .modal-footer
              input.btn.btn-default(type='button', data-dismiss='modal', value='Cancel')
              |                      
              input.btn.btn-danger(type='submit', value='Delete')
